body {
    width: 300px;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: bolder;
}

.rows * {
    box-sizing: border-box;
}

.col {
    float: left;
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.action-button {
    background-color: #6495ED;
    border: 1px black;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.action-button:active {
    background-color: #00BFFF;
}
